<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-input></ion-input> -->
  <ion-item>
    <ion-label>Nombre</ion-label><br>
    <ion-input [formControl]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>correo </ion-label><br>
    <ion-input [formControl]="correo"></ion-input>
  </ion-item>
  <ion-button (click)="agregar()">Agregar</ion-button>
  <table>
    <tr *ngFor="let item of items;let indice=index">
      <td> {{indice+1}}
      <td style="margin-right: 24px;">{{item.nombre}} </td>

      <td>{{item.correo}}</td>
      <td>
        <ion-button (click)="eliminar(indice)">Eliminar</ion-button>
      </td>
      <td>
        <ion-button (click)="editar(indice)">Editar</ion-button>
      </td>
    </tr>
  </table>
</ion-content>